pom.xml
pom.xml.asc
*.jar
*.class
.lsp/
.clj-kondo/
/public/
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.clerk/
.cpcache/
.shadow-cljs/
_tmp.svg
_tmp.png
*.txt
svgcli
